$color-background-main: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
$color-back-main: #F6F6F6;
$color-back-main-footer: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

$content-width: 1280px;