html {
    font-size: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #545454;
}

body,
p,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
}



li {
    list-style: none;
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3.125%;
}

.header {
    /* background-color: #FFFFFF */
    /*  height: 6.62vh; */
}

.header-elements {
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    font-size: 1.5rem;
}

.li-item {
    margin-right: 3.5rem;
}

.li-item:last-child {
    margin-right: 0;
}

.logo {
    padding: 30px 0 30px 0;

    font-size: 1.3rem;
    line-height: 15px;
    color: #292929;
}

.nav-items {
    padding: 46px 0 50px 0;
}

.logo-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    margin-bottom: 10px;
}
a {
    text-decoration:none;
}