.container {
    box-sizing: border-box;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 3.125%;
}

.header{
    width: 100%;
    background: $color-background-main;
}

.layout-2-colums{
    display: flex;
    justify-content: space-between;
}

.about{
    width: 100%;
    background: $color-light-s;
}

.container-about {
    box-sizing: border-box;
    max-width: $content-width;
    margin: 0 auto;
    padding: 80px 16.35% 100px 16.35%;
}