body,
p,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #545454;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    background-color: $color-light-xl;
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3.125%;
}

.our-friends {
    width: 100%;
    background-color: $color-back-main;
    padding: 80px 0 100px 0;
}