body {
  margin: 0;
  font-family: "Exo 2", Lato, "Helvetica Neue", sans-serif;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  grid-template-rows: 10vh 10vh auto;
}

.side {
  grid-area: levels;
  display: grid;
  grid-template-rows: 10vh auto 10vh 10vh;
}

.footer {
  grid-area: footer;
}

.css-editor {
  grid-area: block1;
  background-color: #0f0d0b;
}

.html-viewer {
  grid-area: block2;
  background-color: #0f0d0b;
}

.grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
    'main main levels'
    'main main levels'
    'block1 block2 levels'
    'footer footer levels';
  gap: 10px;
  background-color: #151310;
  padding: 10px;
  height: 100vh;
  grid-template-columns: auto auto 20vw;
  grid-template-rows: 10vh 35vh auto 10vh;
}

.grid-container>div {
  text-align: center;
}

li {
  list-style: none;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
}

.footer li {
  text-align: center;
}

.footer img {
  width: 40%;
}

.header {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: auto 10vw;
  padding: 10px;
}

.side {
  background-color: rgba(255, 255, 255, 0.8);
}

.main {
  background: url(./asserts/bg-table.jpg) 100% 100% no-repeat;
  background-size: cover;
  display: grid;
  align-items: start;
}

.target {
  animation-name: action;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes action {
  from {
    transform: scale(1);

  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hovered {
  filter: drop-shadow(0 0 5px blue);
}

.figure {
  max-height: 100px;
  max-width: 100px;
  position: relative;
}

.css-editor,
.viewer-tittle {
  font-family: menlo,monospace;
  color: rgba(255,255,255,.6);
}

.codeView {
  font-family: menlo,monospace;
  font-size: 0.9rem;
  line-height: 150%;
  color: rgba(255,255,255,.6);
  text-align: start;
  padding-left: 10px;
}

.line {
  padding-left: 10px;
}

.line:hover {
  color: rgb(255,255,255);
}

.li-item {
  text-align: left;
  padding: 4px;
  box-sizing: border-box;
  width: calc(100% - 15px);
  margin: 1px auto;
  cursor: pointer;
  border: 1px solid rgba(0, 0 , 0, 0.5);
  border-radius: 5px;
}

.li-item:hover {
  opacity: 0.8;
}

.active-level {
  border: 2px solid #000;
}

.css-editor input {
  font-size: 1rem;
}

.floatTip {
  position: absolute; 
  top: 17vh;
  display: none ;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 3px grey;
  background: rgba(255,255,255,.8);
  font-family: menlo,monospace;
  font-size: 1rem;
  z-index: 1;
}

.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

.complete {
  background-color: #b2ff65;
}

.reset,
.bth-help {
  border: solid 2px rgb(21 19 16);
  box-sizing: border-box;
  width: calc(100% - 15px);
  margin: auto;
  padding: 9px 0 11px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.reset:hover,
.bth-help:hover {
  background: rgb(21 19 16);
  color: #fff;
}

.description {
  color: rgba(0, 0, 0, 0.8);
  font-size: 35px;
  font-weight: 400;
  text-shadow:  #fff 0 0 2px;
}

.small {
  max-height: 70px;
  max-width: 70px;
}

.paper {
  font-family: Satisfy, sans-serif;
  position: absolute;
  width: 90px;
  height: 90px;
  color: rgb(9, 105, 155);
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) -3px 4px 0px;
  background-image: url(https://flukeout.github.io/images/line.gif);
  z-index: 0;
  background-color: rgb(197, 214, 221);
  transform: rotate(-4deg);
  animation: 0.4s ease-out 0s 1 normal none running slide;
  display: inline-block;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  font-size: 2rem;
  border: 1px solid #888;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  animation-name: animatetop;
  animation-duration: 0.8s;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}