body,
p,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}

.container-header {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-header {
    padding: 0px 30px;
  }
}
@media (max-width: 320px) {
  .container-header {
    padding: 0px 20px;
  }
}

.container-our-friends {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-our-friends {
    padding: 0 94px;
  }
}
@media (max-width: 767px) {
  .container-our-friends {
    padding: 0 calc(84 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .container-our-friends {
    padding: 0px 10px;
  }
}

.container-footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-footer {
    padding: 0 60px;
  }
}
@media (max-width: 320px) {
  .container-footer {
    padding: 0 10px;
  }
}

.our-friends {
  width: 100%;
  background-color: #F6F6F6;
  padding: 78px 0 100px 0;
}
@media (max-width: 768px) {
  .our-friends {
    padding-top: 80px;
    padding-bottom: 77px;
  }
}
@media (max-width: 320px) {
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.footer {
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 39px;
  padding-bottom: 1px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

.flex-3-colums {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .flex-3-colums {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.logo {
  padding: 30px 0 30px 0;
}

.logo > a {
  font-family: "Georgia";
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  transition: color 0.5s;
}
.logo > a:hover {
  color: #F1CDB3;
}

.logo > p:nth-child(2) {
  color: #292929;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.nav-ul {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.nav-ul .lighting {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}
@media (max-width: 767px) {
  .nav-ul {
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    font-size: 3.2rem;
    line-height: 5.1rem;
  }
  .nav-ul .li-item {
    margin-right: 0;
  }
}

.li-item {
  margin-right: 3.5rem;
}
.li-item:hover {
  color: #292929;
}

.li-item:last-child {
  margin-right: 0;
}

.nav-items {
  padding: 46px 0 50px 0;
  /*     @media screen and  (max-width: ($tablet-width - 1)) {
          display: none;
      } */
}
@media (max-width: 768px) {
  .nav-items {
    padding-bottom: 47px;
  }
}
@media (max-width: 767px) {
  .nav-items {
    position: fixed;
    height: 100%;
    width: 320px;
    z-index: 4;
    transform: translateX(100%);
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 248px;
  }
  .nav-items.navOpen {
    transform: translateX(0);
  }
}

.backOpacity.navOpen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0.5;
  z-index: 3;
}

h1 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  width: 44%;
  margin: 0 auto 60px;
  white-space: break-spaces;
}
@media (max-width: 768px) {
  h1 {
    width: 80%;
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    width: 100%;
    margin-bottom: 42px;
  }
}

.grid-pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3.33%;
  row-gap: 25px;
  margin-bottom: 60px;
}
@media (max-width: 1279px) {
  .grid-pets {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 768px) {
  .grid-pets {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 7%;
    row-gap: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .grid-pets {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
@media (max-width: 320px) {
  .grid-pets {
    grid-template-columns: 1fr;
    padding: 0 15px;
    margin-bottom: 42px;
  }
}

.pet-card {
  background: #FAFAFA;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

@media (max-width: 768px) {
  .grid-pets > div:nth-child(7),
  .grid-pets > div:nth-child(8) {
    display: none;
  }
}

@media (max-width: 320px) {
  .grid-pets > div:nth-child(4),
  .grid-pets > div:nth-child(5),
  .grid-pets > div:nth-child(6) {
    display: none;
  }
}

h3 {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 30px 0 30px 0;
}
@media (max-width: 768px) {
  h3 {
    margin-top: 28px;
  }
}

.button-friend {
  font-family: "Georgia";
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: inherit;
  cursor: pointer;
  transition: background-color 1s;
}
.button-friend:hover {
  background-color: rgba(241, 205, 179, 0.5);
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.cycles {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #CDCDCD;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  margin-right: 20px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s;
}
.cycles:last-child {
  margin-right: 0;
}
.cycles.cycle-colored {
  background: #F1CDB3;
  border-color: #F1CDB3;
  color: #292929;
  cursor: pointer;
}
.cycles.cycle-colored:hover {
  background-color: rgba(241, 205, 179, 0.5);
}
.cycles.cycle-next {
  border-color: #F1CDB3;
  color: #292929;
  cursor: pointer;
}
.cycles.cycle-next:hover {
  background-color: rgba(241, 205, 179, 0.5);
}
@media (max-width: 767px) {
  .cycles {
    margin-right: calc(5px + 10 * (100vw - 320px) / 960);
  }
}
@media (max-width: 320px) {
  .cycles {
    margin-right: 10px;
  }
}

.questions > h3,
.adress > h3 {
  color: #FFFFFF;
  width: 90%;
  margin-bottom: 40px;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  margin: 0;
}
@media (max-width: 320px) {
  .questions > h3,
  .adress > h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
  }
}

.questions > h3 {
  margin-bottom: 40px;
}
.questions > a,
.adress > a {
  display: flex;
  align-items: center;
  transition: color 1s;
  margin-bottom: 40px;
}
.questions > a:hover,
.adress > a:hover {
  color: #FFFFFF;
}

.adress > h3,
.adress > a {
  margin-bottom: 33px;
}

@media (max-width: 320px) {
  .adress > h3 {
    padding-left: 15px;
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .adress > a {
    margin-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .adress > a:nth-child(3) {
    margin-bottom: 16px;
  }
}

.questions,
.adress {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (max-width: 768px) {
  .questions,
  .adress {
    padding-top: 0;
  }
}

.questions {
  max-width: 315px;
}
@media (max-width: 768px) {
  .questions {
    max-width: 330px;
  }
}
@media (max-width: 320px) {
  .questions {
    align-items: center;
  }
}

.adress {
  max-width: 338px;
}
@media (max-width: 768px) {
  .adress {
    max-width: 300px;
  }
}

.questions > a > img,
.adress > a > img {
  margin-right: 20px;
}

.flex-3-colums > img {
  height: 310px;
  margin-bottom: 1px;
}
@media (max-width: 768px) {
  .flex-3-colums > img {
    padding-top: 24px;
  }
}
@media (max-width: 320px) {
  .flex-3-colums > img {
    height: 269px;
    margin-top: 2px;
  }
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 2px;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 100;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger:before {
  top: 0;
  left: 0;
  transition: 0.5s;
}

.hamburger:after {
  bottom: 0;
  left: 0;
  transition: 1s;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
  transition: 0.5s;
}

.hamburger.hamburgerOpen:before {
  top: 50%;
  left: 50%;
  transform: rotate(90deg);
}

.hamburgerOpen .hamburger__line {
  top: 50%;
  left: -50%;
  transform: rotate(90deg);
}

.hamburger.hamburgerOpen:after {
  top: 50%;
  left: 0;
  transform: rotate(90deg);
}

body.navOpen {
  height: 100vh;
  overflow-y: hidden;
}

/*# sourceMappingURL=stylePets.css.map */
