.button-rest, .button-friend, .btn-make-friend {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  color: #292929;
}

html {
  font-size: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  scroll-behavior: smooth;
}

body,
p,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select,
a {
  font: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}

.container-header {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-header {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container-header {
    max-width: 320px;
    padding: 0 20px;
  }
}

.container-help {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-help {
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  .container-help {
    max-width: 320px;
    padding: 41px 15px;
  }
}

.container-footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-footer {
    max-width: 768px;
    padding: 0 64px;
  }
}
@media (max-width: 320px) {
  .container-footer {
    max-width: 320px;
    padding: 0 10px;
  }
}

.header {
  width: 100%;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.layout-2-colums {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .layout-2-colums {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .layout-2-colums {
    padding: 0 10px;
  }
}

.about {
  width: 100%;
  background: #FAFAFA;
}

.container-about {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 215px 100px 215px;
}
@media (max-width: 1279px) {
  .container-about {
    padding-right: calc(50 * (100vw - 320px) / 960);
    padding-left: calc(50 * (100vw - 320px) / 960);
  }
}
@media (max-width: 768px) {
  .container-about {
    max-width: 768px;
    padding: 66px 169px 100px 169px;
  }
}
@media (max-width: 767px) {
  .container-about {
    padding-right: calc(50 * (100vw - 320px) / 448);
    padding-left: calc(50 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .container-about {
    padding: 44px 25px 42px 25px;
  }
}

.our-friends {
  position: relative;
  width: 100%;
  background: #F6F6F6;
  padding: 80px 0 100px 0;
}
@media (max-width: 320px) {
  .our-friends {
    padding: 42px 0;
  }
}

.elements-our-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help {
  width: 100%;
  background: #FFFFFF;
  padding: 80px 0 100px 0;
}
@media (max-width: 320px) {
  .help {
    padding-top: 0;
    padding-bottom: 2px;
  }
}

.in-addition {
  width: 100%;
  background: #F6F6F6;
}

.container-addition {
  display: flex;
  padding: 80px 182px 100px 183px;
  justify-content: center;
}
@media (max-width: 768px) {
  .container-addition {
    flex-direction: column-reverse;
    padding-left: 119px;
    padding-right: 132px;
  }
}
@media (max-width: 767px) {
  .container-addition {
    padding-right: calc(50 * (100vw - 320px) / 448);
    padding-left: calc(50 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .container-addition {
    padding: 42px 20px;
  }
}

.footer {
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 13px;
  }
}

.flex-3-colums {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .flex-3-colums {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container-our-friends {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container-our-friends {
    max-width: 768px;
    padding: 0 30px;
  }
}
@media (max-width: 320px) {
  .container-our-friends {
    max-width: 320px;
    padding: 0 10px;
  }
}

.logo-title {
  color: #F1CDB3;
  font-family: "Georgia";
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.192rem;
  margin-bottom: 10px;
  transition: color 1s;
}
.logo-title:hover {
  color: #FAFAFA;
}

.logo-text {
  color: #FFFFFF;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .header-elements {
    margin-bottom: 71px;
  }
}

.nav-ul {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #CDCDCD;
}
.nav-ul .lighting {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}
@media (max-width: 767px) {
  .nav-ul {
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    font-size: 3.2rem;
    line-height: 5.1rem;
  }
  .nav-ul .li-item {
    margin-right: 0;
  }
}

.li-item {
  margin-right: 3.5rem;
  transition: color 1s;
}
.li-item:hover {
  color: #FAFAFA;
}

.li-item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .nav-items {
    position: fixed;
    height: 100%;
    width: 320px;
    z-index: 4;
    transform: translateX(100%);
    top: 0;
    right: 0;
    background-color: #292929;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 248px;
  }
  .nav-items.navOpen {
    transform: translateX(0);
  }
}

.backOpacity.navOpen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0.5;
  z-index: 3;
}

h1 {
  font-family: "Georgia";
  color: #FFFFFF;
  font-size: 4.4rem;
  line-height: 5.7rem;
  font-weight: 400;
  margin-bottom: 42px;
  max-width: 400px;
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.06em;
    text-align: center;
    width: 85%;
    padding-left: 23px;
  }
}

.text-only {
  color: #CDCDCD;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .text-only {
    width: 94%;
  }
}
@media (max-width: 320px) {
  .text-only {
    width: 100%;
    text-align: center;
  }
}

.btn-make-friend {
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  cursor: pointer;
  transition: background-color 1s;
}
.btn-make-friend:hover {
  background-color: #FDDCC4;
}
@media (max-width: 768px) {
  .btn-make-friend {
    margin-bottom: 100px;
    margin-left: 127px;
  }
}
@media (max-width: 767px) {
  .btn-make-friend {
    margin-left: calc((100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .btn-make-friend {
    margin-bottom: 104px;
    margin-left: 46px;
  }
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 38.85%;
  margin-top: -80px;
}
@media (max-width: 768px) {
  .text-section {
    max-width: 73%;
    margin-top: -10px;
    margin-left: 113px;
  }
}
@media (max-width: 767px) {
  .text-section {
    margin-left: calc((100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .text-section {
    margin: -11px 0 0 0;
    max-width: 100%;
  }
}

.start-dog {
  max-width: 698px;
  max-height: 728px;
  width: 100%;
  height: 100%;
  margin-bottom: -2px;
}
@media screen and (max-width: 768px) {
  .start-dog {
    max-width: 569px;
    max-height: 593px;
    padding-left: calc(50% - 284.5px + 70px);
  }
}
@media (max-width: 767px) {
  .start-dog {
    max-width: 569px;
    max-height: 593px;
    padding-left: calc(50% - 284.5px);
  }
}
@media (max-width: 320px) {
  .start-dog {
    max-height: 272px;
    max-width: 260px;
    padding-left: 36px;
    width: 90%;
  }
}

h3 {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  width: 80%;
  margin: 0 0 25px 0;
}
@media (max-width: 768px) {
  h3 {
    width: 85%;
  }
}
@media (max-width: 320px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    width: 100%;
    letter-spacing: 0.06em;
  }
}

.about-colums {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about-colums {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about-text {
  width: 50.5%;
  margin-top: 15px;
}
.about-text p {
  color: #4C4C4C;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
@media (max-width: 320px) {
  .about-text p {
    text-align: justify;
  }
}
.about-text p:nth-child(2) {
  margin-bottom: 25px;
}
@media (max-width: 320px) {
  .about-text p:nth-child(2) {
    margin-bottom: 22px;
  }
}
@media (max-width: 768px) {
  .about-text {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .about-text {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.img-about-pets {
  max-width: 300px;
  max-height: 408px;
  width: 100%;
}
@media (max-width: 320px) {
  .img-about-pets {
    max-height: 354px;
    max-width: 260px;
  }
}

.our-friends-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .our-friends-cards {
    margin-bottom: 58px;
    flex-wrap: wrap;
  }
}
@media (max-width: 320px) {
  .our-friends-cards {
    margin-bottom: 42px;
    justify-content: center;
  }
}

.title-friends {
  width: 400px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 60px;
  white-space: break-spaces;
}
@media (max-width: 767px) {
  .title-friends {
    width: auto;
    font-size: calc(2.5rem + (100vw - 320px) / 408);
  }
}
@media (max-width: 320px) {
  .title-friends {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 42px;
    width: 287px;
    height: 65px;
    text-align: left;
  }
}

.pet-card {
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  cursor: pointer;
  transition: all 1s;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}
.pet-card img {
  margin-bottom: 3px;
  max-width: 270px;
  max-height: 270px;
  width: 100%;
}
.pet-card h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.102rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 1279px) {
  .pet-card {
    margin: 0 calc(15 * (100vw - 320px) / 960);
  }
}
@media (max-width: 768px) {
  .pet-card {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .pet-card {
    margin: 0 0 20px 0;
  }
}

.cycle {
  border: 2px solid #F1CDB3;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 1s;
}
.cycle:hover {
  background-color: rgba(241, 205, 179, 0.5);
}

@media (max-width: 768px) {
  #our-friends > div > div > div:nth-child(2) {
    margin-right: 30px;
  }
}
@media (max-width: 320px) {
  #our-friends > div > div > div:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .our-friends-cards :nth-child(4) {
    display: none;
  }
}

@media (max-width: 320px) {
  #our-friends > div > div > div:nth-child(3) {
    display: none;
  }
}

@media (max-width: 320px) {
  .cycle:nth-child(1) {
    order: 2;
    margin-right: 83px;
  }
}

@media (max-width: 320px) {
  .cycle:nth-child(5) {
    order: 3;
  }
}

.button-friend {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: inherit;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 1s;
}
.button-friend:hover {
  background-color: #FDDCC4;
}

.button-rest {
  background: #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 52px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  transition: background-color 1s;
}
.button-rest:hover {
  background-color: #FDDCC4;
}

.help-grid > li {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.102rem;
}
@media (max-width: 768px) {
  .help-grid > li {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .help-grid > li {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
  }
}

.item-a {
  grid-column: span 4;
  display: grid;
  grid-template-rows: auto 30px auto;
  justify-items: center;
  justify-content: left;
}
@media (max-width: 768px) {
  .item-a {
    margin: 0;
    grid-column: span 1;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .item-a {
    grid-template-rows: auto 8px auto;
  }
}

.item-b1 {
  grid-column: span 4;
  display: grid;
  grid-template-rows: auto 30px auto;
  justify-content: space-around;
  justify-items: center;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .item-b1 {
    margin: 0;
    grid-column: span 1;
  }
}
@media (max-width: 320px) {
  .item-b1 {
    grid-template-rows: auto 18px auto;
  }
}

.item-b {
  grid-column: span 5;
  display: grid;
  grid-template-rows: auto 30px auto;
  justify-content: space-around;
  justify-items: center;
  margin-left: 18px;
}
@media (max-width: 768px) {
  .item-b {
    margin: 0;
    grid-column: span 1;
  }
}
@media (max-width: 320px) {
  .item-b {
    grid-template-rows: auto 27px auto;
  }
}

.help-grid > li:nth-child(9) {
  margin-left: 48px;
}
@media (max-width: 768px) {
  .help-grid > li:nth-child(9) {
    margin: 0;
  }
}

.help-grid {
  display: grid;
  padding: 0 87px 0 87px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 113px 113px;
  grid-row-gap: 55px;
}
.help-grid > li:nth-child(3) {
  margin-left: 62px;
}
@media (max-width: 768px) {
  .help-grid > li:nth-child(3) {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .help-grid > li:nth-child(3) {
    grid-template-rows: auto 18px auto;
  }
}
.help-grid > li:nth-child(4) {
  margin-left: 38px;
}
@media (max-width: 768px) {
  .help-grid > li:nth-child(4) {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .help-grid > li:nth-child(4) {
    grid-template-rows: auto 18px auto;
  }
}
.help-grid > li:nth-child(5) {
  margin-left: 105px;
}
@media (max-width: 768px) {
  .help-grid > li:nth-child(5) {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .help-grid > li:nth-child(5) {
    grid-template-rows: auto 18px auto;
  }
}
@media (max-width: 768px) {
  .help-grid {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .help-grid {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}
@media (max-width: 320px) {
  .help-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 21px;
    column-gap: 25px;
  }
}

.help > .container > h3 {
  max-width: 315px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

.help-title {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 60px;
}
@media (max-width: 320px) {
  .help-title {
    font-size: 2.5rem;
    line-height: 3.2rem;
    width: 80%;
    margin-bottom: 42px;
  }
}

@media (max-width: 320px) {
  #help > div > ul > li > img {
    width: 50px;
    height: 50px;
  }
}

.donation-text {
  max-width: 380px;
  padding-left: 30px;
}
@media (max-width: 1279px) {
  .donation-text {
    padding-left: calc(25 * (100vw - 320px) / 960);
  }
}
@media (max-width: 768px) {
  .donation-text {
    margin-left: 63px;
    margin-bottom: 60px;
  }
}
@media (max-width: 320px) {
  .donation-text {
    margin: 0 0 42px 0;
  }
}

.donation-title {
  width: 80%;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .donation-title {
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    padding-left: 30px;
    padding-left: 25px;
    letter-spacing: 0.06em;
  }
}

.donation-text > p:nth-child(2) {
  font-family: "Georgia";
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .donation-text > p:nth-child(2) {
    line-height: 2.4rem;
    letter-spacing: normal;
  }
}

.credit-cart {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  transition: background-color 1s;
}
.credit-cart:hover {
  background-color: #FDDCC4;
}
@media (max-width: 767px) {
  .credit-cart {
    width: auto;
  }
}
@media (max-width: 320px) {
  .credit-cart {
    width: 281px;
    height: 43px;
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.donation-text > p:nth-child(4) {
  color: #B2B2B2;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
@media (max-width: 320px) {
  .donation-text > p:nth-child(4) {
    text-align: justify;
  }
}

.img-donation {
  max-width: 505px;
  width: 100%;
}
@media (max-width: 768px) {
  .img-donation {
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .img-donation {
    padding-left: calc(5 * (100vw - 320px) / 448);
  }
}
@media (max-width: 320px) {
  .img-donation {
    max-width: 260px;
    height: 135px;
    padding-left: 12px;
  }
}

.questions > h3,
.adress > h3 {
  color: #FFFFFF;
  width: 90%;
  margin-bottom: 40px;
}
@media (max-width: 320px) {
  .questions > h3,
  .adress > h3 {
    margin-bottom: 45px;
  }
}

.questions > a,
.adress > a {
  display: flex;
  align-items: center;
  transition: color 1s;
  margin-bottom: 40px;
}
.questions > a:hover,
.adress > a:hover {
  color: #FFFFFF;
}

.adress > h3,
.adress > a {
  margin-bottom: 33px;
}
@media (max-width: 320px) {
  .adress > h3,
  .adress > a {
    margin-bottom: 39px;
  }
}

.questions,
.adress {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
@media (max-width: 320px) {
  .questions,
  .adress {
    align-items: center;
  }
}

.questions {
  max-width: 315px;
}
@media (max-width: 768px) {
  .questions {
    margin-right: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 320px) {
  .questions {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.adress {
  max-width: 338px;
}
@media (max-width: 768px) {
  .adress {
    max-width: 300px;
    padding-top: 18px;
  }
}
@media (max-width: 320px) {
  .adress {
    padding-top: 1px;
  }
}

.questions > a > img,
.adress > a > img {
  margin-right: 20px;
}
@media (max-width: 320px) {
  #contacts > div > div > div.adress > a:nth-child(3) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  #contacts > div > div > img {
    margin-top: 1px;
  }
}
@media (max-width: 320px) {
  #contacts > div > div > img {
    width: 260px;
    height: 268px;
  }
}

@media (max-width: 320px) {
  #contacts > div > div > div.questions > h3 {
    margin-bottom: 40px;
  }
}

#contacts > div > div > div.adress > a:nth-child(3) {
  margin-bottom: 40px;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  width: 100%;
  height: 2px;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 100;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger:before {
  top: 0;
  left: 0;
  transition: 0.5s;
}

.hamburger:after {
  bottom: 0;
  left: 0;
  transition: 1s;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
  transition: 0.5s;
}

.hamburger.hamburgerOpen:before {
  top: 50%;
  left: 50%;
  transform: rotate(90deg);
}

.hamburgerOpen .hamburger__line {
  top: 50%;
  left: -50%;
  transform: rotate(90deg);
}

.hamburger.hamburgerOpen:after {
  top: 50%;
  left: 0;
  transform: rotate(90deg);
}

body.navOpen {
  height: 100vh;
  overflow-y: hidden;
}

.carousel {
  width: 100%;
  text-align: center;
}

/*   .items-container {
    position: relative;
    width: 100%;
  } */
.container-our-friends {
  position: relative;
  /* width: 100%; */
  overflow: hidden;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10%;
}

.our-friends-cards {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.pet-card {
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  cursor: pointer;
  transition: all 1s;
}

.button-friend {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.0102rem;
  /* color: $color-dark-3xl; */
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background: inherit;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 1s;
}

.button-friend:hover {
  background-color: #FDDCC4;
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  margin: 30px 20%;
  font-size: 32px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.project-name {
  padding: 10px;
}

.cycle {
  position: absolute;
  top: 50%;
  bottom: 0;
  /* width: 15%; */
  border: 2px solid #F1CDB3;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1s;
}

.cycle:hover {
  background-color: rgba(241, 205, 179, 0.5);
}

.cycle.left {
  left: 30px;
  right: auto;
}

.cycle.right {
  right: 30px;
  left: auto;
}

/*   .arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 84px;
  }

  .arrow.right {
    right: 50%;
  } */
.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
/*   @media (max-width: 960px) {
    .description {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 640px) {
    .cycle > .arrow {
      display: none;
    }

    .project-name {
      display: none;
    }

    .description {
      border: 0;
    }
  } */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  z-index: 2;
  position: absolute;
  background-color: #FAFAFA;
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 9px;
  justify-content: space-between;
}

.modal-overlay--visible {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: flex;
}

.text-contant {
  max-width: 350px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-right: 20px;
}

.breed {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.desc {
  margin-bottom: 40px;
}

.modal h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.modal .img {
  margin: 0;
  order: -1;
  width: 500px;
  height: 500px;
  border-radius: 9px;
}

.modal li {
  margin-bottom: 11px;
}

.modal .close-btn {
  position: absolute;
  right: -45px;
  top: -40px;
  max-width: 50px;
  width: 100%;
  cursor: pointer;
}

/*# sourceMappingURL=styleMain.css.map */
