body,
p,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  color: #545454;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background-color: #FFFFFF;
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3.125%;
}

.our-friends {
  width: 100%;
  background-color: #F6F6F6;
  padding: 78px 0 100px 0;
}

.footer {
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;
}

.flex-3-colums {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 30px 0 30px 0;
}

.logo > a {
  font-family: "Georgia";
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.06em;
  transition: color 0.5s;
}
.logo > a:hover {
  color: #F1CDB3;
}

.logo > p:nth-child(2) {
  color: #292929;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.header-elements {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.nav-ul {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.nav-ul .lighting {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.li-item {
  margin-right: 3.5rem;
}
.li-item:hover {
  color: #292929;
}

.li-item:last-child {
  margin-right: 0;
}

.nav-items {
  padding: 46px 0 50px 0;
}

h1 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  width: 44%;
  margin: 0 auto 60px;
  white-space: break-spaces;
}

.grid-pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3.33%;
  row-gap: 25px;
  margin-bottom: 60px;
}

.pet-card {
  background: #FAFAFA;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 1s;
}
.pet-card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

h3 {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 30px 0 30px 0;
}

.button-friend {
  font-family: "Georgia";
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: inherit;
  cursor: pointer;
  transition: background-color 1s;
}
.button-friend:hover {
  background-color: rgba(241, 205, 179, 0.5);
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.cycles {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #CDCDCD;
  width: 48px;
  height: 48px;
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  margin-right: 20px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s;
}
.cycles:last-child {
  margin-right: 0;
}
.cycles.cycle-colored {
  background: #F1CDB3;
  border-color: #F1CDB3;
  color: #292929;
  cursor: pointer;
}
.cycles.cycle-colored:hover {
  background-color: rgba(241, 205, 179, 0.5);
}
.cycles.cycle-next {
  border-color: #F1CDB3;
  color: #292929;
  cursor: pointer;
}
.cycles.cycle-next:hover {
  background-color: rgba(241, 205, 179, 0.5);
}

.questions > h3,
.adress > h3 {
  color: #FFFFFF;
  width: 90%;
  margin-bottom: 40px;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  margin: 0;
}

.questions > h3 {
  margin-bottom: 40px;
}

.questions > a,
.adress > a {
  display: flex;
  align-items: center;
  transition: color 1s;
  margin-bottom: 40px;
}
.questions > a:hover,
.adress > a:hover {
  color: #FFFFFF;
}

.adress > h3,
.adress > a {
  margin-bottom: 33px;
}

.questions,
.adress {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.questions {
  max-width: 315px;
}

.adress {
  max-width: 338px;
}

.questions > a > img,
.adress > a > img {
  margin-right: 20px;
}

.flex-3-colums > img {
  height: 310px;
}

/*# sourceMappingURL=stylePets.css.map */
