.donation-text {
    max-width: 380px;
    // margin-left: 30px;
    margin-left: calc((25) * (100vw - 320px) / (1280 - 320));

    @media (max-width: $tablet-width) {
        margin-left: 63px;
        margin-bottom: 60px;
    }

    @media (max-width: $mobile-width) {
        margin: 0 0 42px 0;
    }
}

.donation-title {
    width: 80%;
    margin-bottom: 20px;

    @media (max-width: $mobile-width) {
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-align: center;
        padding-left: 30px;
        padding-left: 25px;
        letter-spacing: 0.06em;
    }
}

.donation-text>p:nth-child(2) {
    font-family: 'Georgia';
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    margin-bottom: 20px;

    @media (max-width: $mobile-width) {
        line-height: 2.4rem;
        letter-spacing: normal;
    }
}

.credit-cart {
    width: 349px;
    height: 43px;
    background-color: $color-primary;
    border-radius: 9px;

    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    transition: background-color 1s;

    &:hover {
        background-color: $color-primary-light;
    }

    @media (max-width: ($tablet-width - 1)) {
        width: auto;
    }

    @media (max-width: $mobile-width) {
        width: 281px;
        height: 43px;
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
}

.donation-text>p:nth-child(4) {
    color: $color-dark-m;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;

    @media (max-width: $mobile-width) {
        text-align: justify;
    }
}

.img-donation {
    width: 100%;

    @media (max-width: $mobile-width) {
        width: 260px;
        height: 135px;
        padding-left: 12px;
    }
}