.button-friend {
    @extend %font-button;

    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $color-primary;
    background: inherit;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
        background-color: $color-primary-light;
    }
}

.button-rest {
    @extend %font-button;
    background: $color-primary;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 52px;
    margin: 0 auto;
    letter-spacing: 0.06em;
    transition: background-color 1s;

    &:hover {
        background-color: $color-primary-light;
    }
}