.questions>h3,
.adress>h3 {
    color: $color-light-xl;
    width: 90%;
    margin-bottom: 40px;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    margin: 0;
}

.questions>h3 {
    margin-bottom: 40px;
}

.questions>a,
.adress>a {
    display: flex;
    align-items: center;
    transition: color 1s;
    margin-bottom: 40px;

    &:hover {
        color: $color-light-xl;
    }
}

.adress>h3,
.adress>a {
    margin-bottom: 33px;
}

.questions,
.adress {
    display: flex;
    flex-direction: column;
    padding-top: 17px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-primary;

    @media (max-width: $tablet-width) {
        padding-top: 0;
    }
}

.questions {
    max-width: 315px;

    @media (max-width: $tablet-width) {
        max-width: 330px;
    }
}

.adress {
    max-width: 338px;

    @media (max-width: $tablet-width) {
        max-width: 300px;
    }
}

.questions>a>img,
.adress>a>img {
    margin-right: 20px;
}

.flex-3-colums>img {
    height: 310px;

    @media (max-width: $tablet-width) {
        padding-top: 24px;
    }
}