.questions>h3,
.adress>h3 {
    color: $color-light-xl;
}

.questions,
.adress {
    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-primary;
}

.questions{
    max-width: 315px;
}
.adress{
    max-width: 350px;
}
.questions > a,
.adress > a {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.questions > a > img,
.adress > a > img {
    margin-right: 20px;
}