.logo {
    padding: 30px 0 30px 0;
}

.logo>a {
    font-family: 'Georgia';
    font-size: 3.2rem;
    line-height: 3.5rem;
    letter-spacing: 0.06em;
    transition: color 0.5s;
    &:hover {
        color: $color-primary;
    }
}

.logo>p:nth-child(2) {
    color: $color-dark-3xl;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin-top: 10px;
}

.header-elements {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.nav-ul {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.4rem;
    & .lighting {
        color: $color-dark-3xl;
        border-bottom: 3px solid $color-primary;
        cursor: default;
    }
}

.li-item {
    margin-right: 3.5rem;
    &:hover{
        color: $color-dark-3xl;
    }
}

.li-item:last-child {
    margin-right: 0;
}

.nav-items {
    padding: 46px 0 50px 0;

    @media screen and  (max-width: ($tablet-width - 1)) {
        display: none;
    }

    @media (max-width: $tablet-width) {
        padding-bottom: 47px;
    }
}

.ico-burger {
    display: none;
    @media screen and  (max-width: ($tablet-width - 1)) {
        display: block;
        cursor: pointer;
    }
}