.help-grid>li {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.102rem;

    @media (max-width: $tablet-width) {
        margin: 0;
    }
}

.item-a {
    grid-column: span 4;
    display: grid;
    grid-template-rows: auto 30px auto;
    justify-items: center;
    justify-content: left;

    @media (max-width: $tablet-width) {
        margin: 0;
        grid-column: span 1;
        justify-content: center;
    }
}

.item-b1 {
    grid-column: span 4;
    display: grid;
    grid-template-rows: auto 30px auto;
    justify-content: space-around;
    justify-items: center;
    margin-left: 50px;

    @media (max-width: $tablet-width) {
        margin: 0;
        grid-column: span 1;
    }
}

.item-b {
    grid-column: span 5;
    display: grid;
    grid-template-rows: auto 30px auto;
    justify-content: space-around;
    justify-items: center;
    margin-left: 18px;

    @media (max-width: $tablet-width) {
        margin: 0;
        grid-column: span 1;
    }
}

.help-grid>li:nth-child(9) {
    margin-left: 48px;

    @media (max-width: $tablet-width) {
        margin: 0;
    }
}

.help-grid {
    display: grid;
    padding: 0 87px 0 87px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 113px 113px;
    row-gap: 55px;

    &>li:nth-child(3) {
        margin-left: 62px;

        @media (max-width: $tablet-width) {
            margin: 0;
        }
    }

    &>li:nth-child(4) {
        margin-left: 38px;

        @media (max-width: $tablet-width) {
            margin: 0;
        }
    }

    &>li:nth-child(5) {
        margin-left: 105px;

        @media (max-width: $tablet-width) {
            margin: 0;
        }
    }

    @media (max-width: $tablet-width) {
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 55px;
    }
}

.help>.container>h3 {
    max-width: 315px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

.help-title {
    text-align: center;
    max-width: 350px;
    margin: 0 auto 60px;

    @media (max-width: $mobile-width) {
        font-size: 2.5rem;
        line-height: 3.2rem;
    }
}