h1 {
    font-family: 'Georgia';
    color: $color-light-xl;
    font-size: 4.4rem;
    line-height: 5.7rem;
    font-weight: 400;
    margin-bottom: 42px;
    max-width: 400px;
}

.text-only {
    color: $color-dark-s;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 42px;
}

.btn-make-friend {
    @extend %font-button;

    background: $color-primary;
    border: none;
    border-radius: 100px;
    max-width: 207px;
    height: 52px;
    padding: 15px 45px 15px 45px;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 38.85%;
}