h1 {
    font-family: 'Georgia';
    color: $color-light-xl;
    font-size: 4.4rem;
    line-height: 5.7rem;
}

.text-only {
    color: $color-dark-s;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.btn-make-friend {
    font-family: 'Georgia';
    font-size: 1.7rem;
    /* line-height: 2.2rem; */
    letter-spacing: 0.0102rem;
    background: $color-primary;
    border: none;
    border-radius: 100px;

    color: $color-dark-3xl;
    max-width: 207px;
    height: 52px;
    padding: 15px 45px 15px 45px;
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 38.33%;
}
.start-dog {}