h1 {
    font-family: 'Georgia';
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    width: 44%;
    margin: 0 auto 60px;
    white-space: break-spaces;
}

.grid-pets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3.33%;
    row-gap: 25px;
    margin-bottom: 60px;
}

.pet-card {
    background: $color-light-s;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 1s;

    &:hover {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
}

h3 {
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 30px 0 30px 0;
}

.button-friend {
    font-family: 'Georgia';
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    margin-bottom: 30px;

    width: 187px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: inherit;
    cursor: pointer;
    transition: background-color 1s;
    &:hover {
        background-color: rgba(241, 205, 179, 0.5);
    }
}


.nav-buttons {
    display: flex;
    justify-content: center;
}

.cycles {
    font-family: 'Georgia';
    font-size: 2.0rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-dark-s;

    width: 48px;
    height: 48px;
    border: 2px solid $color-dark-s;
    border-radius: 100px;
    margin-right: 20px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 1s;


    &:last-child {
        margin-right: 0;
    }
    &.cycle-colored {
        background: $color-primary;
        border-color: $color-primary;
        color: $color-dark-3xl;
        cursor: pointer;
        &:hover {
            background-color: rgba(241, 205, 179, 0.5);
        }
    }
    &.cycle-next{
        border-color: $color-primary;
        color: $color-dark-3xl;
        cursor: pointer;
        &:hover {
            background-color: rgba(241, 205, 179, 0.5);
        }
    }


}