h1 {
    font-family: 'Georgia';
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    width: 44%;
    margin: 0 auto 60px;
    white-space: break-spaces;

    @media (max-width: $tablet-width) {
        width: 80%;
        margin-bottom: 30px;
    }

    @media (max-width: $mobile-width) {
        font-size: 2.5rem;
        line-height: 3.2rem;
        width: 100%;
        margin-bottom: 42px;
    }
}

.grid-pets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3.33%;
    row-gap: 25px;
    margin-bottom: 60px;

    @media (max-width: ($content-width - 1)) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @media (max-width: $tablet-width) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 7%;
        row-gap: 30px;
        margin-bottom: 40px;
    }

    @media (max-width: ($tablet-width - 1)) {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));  
    }

    @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
        padding: 0 15px;
        margin-bottom: 42px;
    }
}

.pet-card {
    background: $color-light-s;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background: $color-light-xl;
    }
}

.grid-pets>div:nth-child(7),
.grid-pets>div:nth-child(8) {
    @media (max-width: $tablet-width) {
        display: none;
    }
}

.grid-pets>div:nth-child(4),
.grid-pets>div:nth-child(5),
.grid-pets>div:nth-child(6) {
    @media (max-width: $mobile-width) {
        display: none;
    }
}

h3 {
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 30px 0 30px 0;

    @media (max-width: $tablet-width) {
        margin-top: 28px;
    }
}

.button-friend {
    font-family: 'Georgia';
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    margin-bottom: 30px;

    width: 187px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: inherit;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
        background-color: rgba(241, 205, 179, 0.5);
    }
}


.nav-buttons {
    display: flex;
    justify-content: center;

}

.cycles {
    font-family: 'Georgia';
    font-size: 2.0rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-dark-s;

    min-width: 48px;
    min-height: 48px;
    border: 2px solid $color-dark-s;
    border-radius: 100px;
    margin-right: 20px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 1s;


    &:last-child {
        margin-right: 0;
    }

    &.cycle-colored {
        background: $color-primary;
        border-color: $color-primary;
        color: $color-dark-3xl;
        cursor: pointer;

        &:hover {
            background-color: rgba(241, 205, 179, 0.5);
        }
    }

    &.cycle-next {
        border-color: $color-primary;
        color: $color-dark-3xl;
        cursor: pointer;

        &:hover {
            background-color: rgba(241, 205, 179, 0.5);
        }
    }

    @media (max-width: ($tablet-width - 1)) {
        margin-right: calc(5px + 10 * (100vw - 320px) / (1280 - 320))
    }

    @media (max-width: $mobile-width) {
        margin-right: 10px;
    }

}