.our-friends-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: $tablet-width) {
        margin-bottom: 58px;
    }

    @media (max-width: $mobile-width) {
        flex-wrap: wrap;
    }
}

.title-friends {
    width: 400px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 60px;
    white-space: break-spaces;

    @media (max-width: $mobile-width) {
        font-size: 2.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.06em;
        margin-bottom: 42px;
        max-width: 300px;
    }
}

.pet-card {
    background: $color-light-s;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    cursor: pointer;
    transition: all 1s;

    &:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background: $color-light-xl;
    }

    img {
        margin-bottom: 3px;
        max-width: 270px;
        max-height: 270px;
        // width: 100%;
    }

    h4 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.102rem;
        margin-bottom: 30px;
    }

    @media screen and (max-width: ($content-width - 1)) {
        margin: 0 calc(5px + (40 - 5) * (100vw - 320px) / (1280 - 320));
    }

    @media (max-width:$tablet-width) {
        margin: 0;
    }

    @media (max-width:$mobile-width) {
        margin: 0 0 20px 0;
    }
}

.cycle {
    border: 2px solid $color-primary;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
        background-color: rgba(241, 205, 179, 0.5);
    }
}

#our-friends > div > div > span:nth-child(1) {
    @media (max-width:$tablet-width) {
        // margin-right: -13px;
    }
}

#our-friends > div > div > div:nth-child(2){
    @media (max-width:$tablet-width) {
        margin-right: 30px;
    }
}

.our-friends-cards :nth-child(4) {
    @media (max-width:$tablet-width) {
        display: none;
    }
}

#our-friends>div>div>div:nth-child(3) {
    @media (max-width:$mobile-width) {
        display: none;
    }
}

.cycle:nth-child(1) {
    @media (max-width:$mobile-width) {
        order: 2;
    }
}

.cycle:nth-child(5) {
    @media (max-width:$mobile-width) {
        order: 3;
    }
}