html{
  font-size: 10px;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  font-family: "Exo 2", Lato, "Helvetica Neue", sans-serif;
}

.garage-button,
.winners-button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 2.4rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition: all 0.3s;
}

.garage-button:hover,
.winners-button:hover {
  background-color: #3e8e41;
}

.garage-button.active,
.winners-button.active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonCreate,
.buttonUpdate,
.race-button,
.reset-button,
.generate-button {
  background-color: #13aa52;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;  
  padding: 0.5rem;
  text-align: center;
}

.buttonCreate:hover,
.buttonUpdate:hover,
.race-button:hover,
.reset-button:hover,
.generate-button:hover {
transform: translateY(-2px);
}

.controls {
  display: flex;
  width: 40rem;
  height: 15rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  width: 40rem;
  padding-top: 0.5rem;
  justify-content: space-around;
}

.create-line,
.update-line {
  display: flex;
  justify-content: space-evenly;
}

.common-line {
  display: flex;
  justify-content: space-around;
}

.table {
  color: #fff;
  margin-top: 2rem;
}

thead {
  background: blue;
  font-size: 1.6rem;
}

.cars-number {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

.garage {
  margin-top: 2rem;
}